---
layout: page
title: Presentations
permalink: /presentations/
categories: [presentations]
upcoming_presentations: 
- date: 2018-04-26
  title: AI, amplifying human ingenuity with intelligent technology @ Big Data Expo '18
  url: https://www.bigdata-expo.be/en/program
- date: 2018-05-24
  title: A gentle introduction to Azure Databricks @ Techorama '18
  url: https://techoramabelgium2018.sched.com/event/DOy9/a-gentle-introduction-to-databricks?iframe=no

---

<h2>Upcoming</h2>
<ul class="post-list">

    {% for post in page.upcoming_presentations %}
        <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
    
        <h4>
            <a href="{{ post.url }}">{{ post.title | escape }}</a>
        </h4>
        </li>
    {% endfor %}
    </ul>
    
<h2>Past Presentations</h2>
<ul class="post-list">
{% for post in site.categories.presentations %}
    <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ post.date | date: date_format }}</span>

    <h4>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h4>
    </li>
{% endfor %}
</ul>
