---
layout: default
header_color: '#33cc66'
title: Tags
permalink: /tags/
---
<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">        
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
        
        <div class="wordcloud" style="height: 400px; width: 90%"></div>
        
        <h4>Main Tags</h4>
        <ul class="tag-list">
            {% for tag in site.post_tags %}
            <li>
                <a href="{{tag.url}}">{{tag.title}}</a>        
            </li>
            {% endfor %}
        </ul>

        <script>
    
            $(document).ready(function () {
    
                var skillWords = [];
                {% for tag in site.tags %}
                    {% assign tag_slug = tag[0] | sluggify %}
                    {%- capture url %}
                        {% for pt in site.post_tags %}
                            {% if pt.title == tag[0] %}
                                {{ pt.url | relative_url }}
                            {% endif %}
                        {% endfor %}
                    {%- endcapture %}
                    {% assign weight = site.tags[tag_slug] | size %}
                    {% assign title = tag[0] %}
                    skillWords.push({
                        text: "{{ title }}",
                        weight: '{{ weight }}',
                        link: '{{ url | strip }}'
                    });
                {% endfor %}
    
    
            $('.wordcloud').jQCloud(skillWords, {
                'shape': 'rectangular'
            });    
            });
    
        </script>

        
    </div>
</article>