<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* GDPR compliant: disable cookies by default */
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//t.nathan.gs/";
    _paq.push(['setTrackerUrl', u+'mt']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
