<section class="education">
    <h2>Education</h2>

    <div class="container">
        <div class="row">
            <div class="span12"><h3>Certificates</h3></div>            
        </div>

        <div class="row">
            {% for c in site.data.cv_certificate %}
               
                <div class="span4 certificate {{c.css_class}}">
                    {% if c.acclaim_id %}
                    <a href="https://www.youracclaim.com/badges/{{ c.acclaim_id }}">
                        <img src="https://images.youracclaim.com/size/70x70/images/{{ c.logo }}" alt="{{c.description}}">
                    </a>
                    {% else %}
                    <img src="{{ c.logo }}" alt="{{c.description}}">
                    {% endif %}
                    <h5>{{c.description}}</h5>
                    {{c.issuer}} | {{c.when}}
                </div>
            {% endfor %}        
            </div>
            <div class="row">
                <div class="span12"><h3>Education</h3></div>            
            </div>
            <div class="row">
                <section>
                    <div class="span6">
                        <dl>
                            <dt>Institute</dt>
                            <dd>University of Antwerp</dd>
                            <dt>Program</dt>
                            <dd>Social-Economic Sciences</dd>
                            <dt>Period</dt>
                            <dd>2005 - 2007</dd>
                            <dt>Achieved</dt>
                            <dd>Not Achieved</dd>
                        </dl>
                    </div>
                    <div class="span6">
                        <dl>
                            <dt>Institute</dt>
                            <dd>Hibernia Steinerschool in Antwerp</dd>
                            <dt>Program</dt>
                            <dd>ASO, Higher Secondary education</dd>
                            <dt>Period</dt>
                            <dd>1999 - 2005</dd>
                            <dt>Achieved</dt>
                            <dd>2005</dd>
                        </dl>
                    </div>
                </section>
            </div>
        </div>
    </section>

