<section class="experience">
    <h2>Experience</h2>

    <div class="container">
        <div class="row">
            <div class="span12">
                <section itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    <div class="accordion" id="virdata-accordion">
                        <div class="accordion-group">
                            {% include_relative _experience_microsoft.html %}
                        </div>
                    </div>
                </section>

                <section itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    <div class="accordion" id="virdata-accordion">
                        <div class="accordion-group">
                            {% include_relative _experience_virdata.html %}
                        </div>
                    </div>
                </section>

                <section itemprop="event" itemscope itemtype="http://schema.org/Event">
                    {% include_relative _experience_lambda.html %}
                </section>

                <section itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    <div class="accordion" id="datacrunchers-accordion">
                        <div class="accordion-group">
                            {% include_relative _experience_datacrunchers.html %}
                        </div>
                    </div>
                </section>

                <section itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    <div class="accordion" id="icontroller-lead-accordion">
                        <div class="accordion-group">
                            {% include_relative _experience_icontroller_lead.html %}
                        </div>
                    </div>
                </section>

                <section>
                    <div class="accordion" id="netlog-accordion">
                        <div class="accordion-group">
                            {% include_relative _experience_netlog.html %}
                        </div>
                    </div>
                </section>

                <section itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    {% include_relative _experience_icontroller.html %}
                </section>

                <section>
                    <div class="accordion" id="servs-accordion">
                        <div class="accordion-group">
                            {% include_relative _experience_servs.html %}
                        </div>
                    </div>
                </section>

                <section itemprop="event" itemscope itemtype="http://schema.org/Event">
                    {% include_relative _experience_cms.html %}
                </section>

            </div>
        </div>
    </div>
</section>