<section class="skills">
    <h2><a name="skills"></a>Skills</h2>

    <div class="container">
        <div class="row">
            <div class="span12">
                <img src="skills.png" style="margin-top: 20px"/>
            </div>

        </div>
        <div class="row">
            <div class="span6">
                <section>
                    {% capture management_text %}{% include_relative _skills/management.md %}{% endcapture %}
                    {{ management_text | markdownify }}
                </section>
            </div>
            <div class="span6">
                <section>
                    {% include_relative _skills/technology.html %}                    
                </section>
            </div>
        </div>
        <div class="row noprint">
            <div class="span6">
                {% comment %}
                <section>                    
                    {% include_relative _skills/bigdata.html %}                                        
                </section>
                <section>
                    {% include_relative _skills/linux_devops_cloud.html %}                    
                </section>
                {% endcomment %}
            </div>
            <div class="span6">
                {% comment %}
                <section>
                    {% include_relative _skills/scala.html %}                    
                </section>
                <section>
                    {% include_relative _skills/programming.html %}
                </section>
                <section>
                    {% include_relative _skills/interests.html %}
                </section>
                {% endcomment %}                    
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <section>
                    <h4>Languages</h4>
                    <dl>
                        <dt>Dutch</dt>
                        <dd>Mother tongue</dd>
                        <dt>English</dt>
                        <dd>Very fluent</dd>
                    </dl>
                </section>
            </div>
            <div class="span6">
                <section>
                    <h4>Other skills</h4>

                    <p>In possession of a driver's license.</p>
                </section>
            </div>
        </div>
    </div>

</section>
