---
layout: null
permalink: /cv/
title: Curriculum Vitae
redirect_from:
  - /cv/Nathan Bijnens.pdf
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Nathan Bijnens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Nathan Bijnens"/>

    <meta name="p:domain_verify" content="77d6a2df29213b417fd2fa0a75051cd5"/>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet"/>

    <link href='//fonts.googleapis.com/css?family=Maven+Pro:900,500,700' rel='stylesheet' type='text/css'/>

    <link rel="shortcut icon" href="/favicon.ico"/>


    <link href="nathan.css" rel="stylesheet"/>
    <link href="lib/bootstrap-print/bootstrap-print.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    {% include analytics.html %}
</head>

<body itemscope itemtype="http://schema.org/Person">

    <h1>Nathan Bijnens</h1>

        {% include_relative _introduction.html %}
        {% comment %}{% endcomment %}
        
        {% include_relative _experience.html %}
        {% include_relative _skills.html %}
        {% include_relative _education.html %}
        {% include_relative _presentations.html %}

        <p>
            <br>
            <br>
            <br>
            <br>
        </p>
        
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <script>
    
    window.addEventListener('load', () => {
        const headings = document.querySelectorAll('section > a[name]');

        const ioOptions = {
            threshold: 0.75
        };

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const location = window.location.toString().split('#')[0];
                    const oldHash = window.location.hash;

                    aEntry = entry.target.querySelector('a[name]');
                    hash = '#' + aEntry.name;
                    if (aEntry.name == "introduction") {
                        hash = "";
                    } 
                    if (hash != oldHash) {
                        history.replaceState(null, null, location + hash);
                    }
                }
            });
        }, ioOptions);

        headings.forEach(ha => {

            observer.observe(ha.parentElement);
        });

        var accordions = document.querySelectorAll('.accordion');

        accordions.forEach(function(accordion) {
            accordion.addEventListener('shown', function () {
            var icon = this.querySelector('span.btn.dropdown i.icon-arrow-down');
            icon.classList.remove('icon-arrow-down');
            icon.classList.add('icon-arrow-up');
            });
            accordion.addEventListener('hidden', function () {
            var icon = this.querySelector('span.btn.dropdown i.icon-arrow-up');
            icon.classList.remove('icon-arrow-up');
            icon.classList.add('icon-arrow-down');
            });
        });
    });

</script>

</body>
</html>
