---
layout: null
permalink: /cv/
title: Curriculum Vitae
redirect_from:
  - /cv/Nathan Bijnens.pdf
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Nathan Bijnens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Nathan Bijnens"/>

    <meta name="p:domain_verify" content="77d6a2df29213b417fd2fa0a75051cd5"/>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet"/>

    <link href='//fonts.googleapis.com/css?family=Maven+Pro:900,500,700' rel='stylesheet' type='text/css'/>

    <link rel="shortcut icon" href="/favicon.ico"/>


    <link href="nathan.css" rel="stylesheet"/>
    <link href="lib/bootstrap-print/bootstrap-print.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    {% include analytics.html %}
</head>

<body itemscope itemtype="http://schema.org/Person">

    <h1>Nathan Bijnens</h1>

        {% include_relative _introduction.html %}
        {% comment %}{% endcomment %}
        
        {% include_relative _experience.html %}
        {% include_relative _skills.html %}
        {% include_relative _education.html %}
        {% include_relative _presentations.html %}

        <p>
            <br>
            <br>
        </p>
        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>

    <script>

        $(document).ready(function () {
            


        var sectionOutEventHandler = function () {
            var className = $(this).attr('class');
            window.location.hash = "#" + className
        }        

        //$('section.introduction').mouseleave(sectionOutEventHandler);
        $('section.experience').mouseleave(sectionOutEventHandler);
        $('section.skills').mouseleave(sectionOutEventHandler);
        $('section.education').mouseleave(sectionOutEventHandler);
        $('section.presentations').mouseleave(sectionOutEventHandler);

        $('.accordion').on('shown', function () {
            icon = $('span.btn.dropdown i.icon-arrow-down', this);

            icon.removeClass('icon-arrow-down');
            icon.addClass('icon-arrow-up');

        });
        $('.accordion').on('hidden', function () {
            icon = $('span.btn.dropdown i.icon-arrow-up', this);

            icon.removeClass('icon-arrow-up');
            icon.addClass('icon-arrow-down');

        });
    });

</script>

</body>
</html>
