body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    text-align: justify;
}

h1, h2 {
    text-align: center;
}

section h2 {
    text-transform: uppercase;
    color: #fff;
    -webkit-print-color-adjust:exact;
    float: none;
}

dt, dd {
    display: block;
    float: left;
    margin-top: 5px;
}

dd address {
    margin-bottom: inherit;
}

dt {
    clear: both;
}

dl dd:last-of-type, dl dt:last-of-type {
    margin-bottom: 30px;
}


section {
    padding-top: 40px;
}


.introduction h2 {
    background-color: #eb613d !important;
    margin-bottom: 30px;
}

.presentations h2 {
    background-color: #fca311 !important;
    margin-bottom: 30px
}

.experience h2 {
    background-color: #0084d1 !important;
}

.skills h2 {
    background-color: #33cc66 !important;
}

.education h2 {
    background-color: #6b0094 !important;
}

.education .certificate {
    text-align: center;
    font-size: smaller;
    height: 100px;
}

.education .certificate img {
    float: left;
    display: block;
    height: 70px;
    width: 70px;
}

@media print {
    .education .certificate {
        text-align: left;
        height: 80px;     
        line-height: 5px;   
    }

    .education .certificate h5 {
        font-weight: bolder;        
        font-size: small;
    }
    .education .certificate img {
        display: none;
    }
}

section section {
    padding-top: 10px;
}

section section h4, section section h5 {
    display: inline;
}

section section h4 {
    font-size: 15.5px;
}

section section h5 {
    font-size: 13px;
}

.skill.btn-small {
    padding: 0px 3px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 4px;
}

.skills .wordcloud {
    height: 400px;
}


p {
    margin-bottom: 5px;
}

.skills img.wordcloud-print {
    max-width: 100%;
    height: auto;
}

/* jQcloud specifics */

div.jqcloud {
    font-family: inherit;
    margin-top: -60px;
    margin-bottom: -60px;
    margin-left: auto;
    margin-right: auto;
}

div.jqcloud span.w10 {
    color: #000;
}
div.jqcloud span.w9 {
    color: #191919;
}
div.jqcloud span.w8 {
    color: #323232;
}
div.jqcloud span.w7 {
    color: #4b4b4b;
}
div.jqcloud span.w6 {
    color: #646464;
}
div.jqcloud span.w5 {
    color: #7d7d7d;
}
div.jqcloud span.w4 {
    color: #969696;
}
div.jqcloud span.w3 {
    color: #afafaf;
}
div.jqcloud span.w2 {
    color: #c8c8c8;
}
div.jqcloud span.w1 {
    color: #e1e1e1;
}

/* accordion */
.accordion {
    margin-bottom: 0;
}

.accordion .accordion-group, .accordion .accordion-inner {
    border: 0;
}

section section .accordion ul h4, section section .accordion ul h5 {
    display: inline;
}

.accordion ul {
    list-style: none;
    margin-left: 0;
}

.accordion ul li {
    margin-bottom: 10px;
}

.accordion ul ol li {
    margin-bottom: 0;
}

/* icons */

.icon-grey {
    background-image: url("lib/icon-grey/glyphicons-halflings-grey.png");
}

.introduction .text {
    margin-top: 40px;
}

@media print {
    .btn.dropdown {
        display: none;
    }

    section h2 {        
        margin-left: 0;
        margin-right: 0;
        -webkit-print-color-adjust:exact;
        color: #fff !important;
    }

    body {
        padding-top: 0;
    }

    .introduction .text {
        margin-top: 0;
    }

    a:link:after, a:visited:after, h4 a:link:after, a:visited:after {
        content: "";
    }

    a {
        color: #08c !important;
    }

    .presentations {
        display: none;
    }

    .noprint {
        display: none;
    }

}

.accordion-heading {
    cursor: pointer;
}

.accordion-inner ul li.span5 {
    float: left;
}


