// Colors
$lightAccentColor: #faf5f5;
$accentColor: #ac9999;

// Footer
.site-footer {
    background-color: $lightAccentColor;
}

.footer-col-1 {
    width: -webkit-calc(18% - (#{$spacing-unit} / 2));
    width:         calc(18% - (#{$spacing-unit} / 2));
}
  
.footer-col-2 {
    width: -webkit-calc(22% - (#{$spacing-unit} / 2));
    width:         calc(22% - (#{$spacing-unit} / 2));
}
  
.footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}


@include media-query($on-palm) {
    .footer-col {
      float: none;
      width: 60%;
      line-break: auto;

    }
  
  }

// Twitter
.twitter-tweet {
    margin: auto;
}

// Highlighting
.highlight {
    width: 100%;

    pre,code {
        background-color: #fff;      
        font-size: 12px;  
    }
    

    td.code {
        width: 100%;
    }

    pre {
        border: 1px solid $lightAccentColor;

        table.rouge-table {
            pre {
                border: 0;
            }

            pre.lineno {
                border: 0px;
                color: $accentColor;
            }
        }
    }
    
    
}

code.highlighter-rouge {
    font-size: 14px;
}

pre, code {
    background-color: $lightAccentColor;
}

// slideshare
.iframe-slideshare-4x3 {
    padding-bottom: calc(75% + 58px);
    padding-bottom: -webkit-calc(75% + 58px);
}

.iframe-slideshare-16x9 {
    padding-bottom: calc(56.25% + 58px);
    padding-bottom: -webkit-calc(56.25% + 58px);
}

// youtube
.iframe-youtube-4x3 {
    padding-bottom: 75%;
}

.iframe-youtube-16x9 {
    padding-bottom: 56.25%;
}

.iframe-slideshare-16x9,
.iframe-slideshare-4x3,
.iframe-youtube-4x3,
.iframe-youtube-16x9
{
    position: relative;
    width: 100%;
    height: 0;
}

.iframe-slideshare-16x9 iframe,
.iframe-slideshare-4x3 iframe,
.iframe-youtube-4x3 iframe,
.iframe-youtube-16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:1px solid $lightAccentColor; 
    //border-width:1px;
    margin-bottom:5px; 
}

// Pagination
.pagination {
    float: right;
}

.page-content {

    table:not(.rouge-table) {
        table-layout: fixed;
        width: 100%;

        td,th {
            vertical-align: top;
        }

        thead tr th {
            border-bottom: 1px solid $accentColor;            
        }
    
        tbody {
            tr:nth-child(odd) {
                background-color: $lightAccentColor;
            }
        }
    }
    

} 

.folder-structure + ul {
    list-style: none;
 
    ul {
        list-style: none;
        //margin-left: 1.3em;
    }

    
    font-size: 90%;

    > li:before, 
    > li > ul > li:before, 
    > li > ul > li > ul > li:before, 
    > li > ul > li > ul > li > ul > li:before,
    > li > ul > li > ul > li > ul > li > ul > li:before {
        content: "\f07b"; /* FontAwesome Unicode */
        font-family: "Font Awesome 5 Free";
        color: $accentColor;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
        font-weight: 900;
    }

    .fas {
        color: $accentColor;
        margin-left: -1.3em;
    }
}