// Highlighting

code.highlighter-rouge {
    font-size: 14px;
    background-color: $codeBackground;
}

.highlighter-rouge .highlight {
    width: auto;
    background: $codeBackground !important;

    border-left-color: $darkAccentColor;
    border-left-width: 5px;
    border-left-style: solid;
    border-radius: 3px;

    pre,code {
        background-color: #fff;      
        font-size: 12px;  
    }
    

    td.code {
        width: 100%;
    }

    pre {
        border: 1px solid $lightAccentColor;

        padding: 8px 12px;

        table.rouge-table {
            margin-bottom: 0 !important;

            pre {
                border: 0;
                margin-bottom: 0 !important;
                vertical-align: top;
            }

            pre.lineno {
                border: 0;
                color: $darkAccentColor;
            }

            td.rouge-gutter {
                width: 20px;
            }

            th, td {
                padding: 0;
                vertical-align: top;
                background-color: #fff;
            }
        }
    }
    
}

