// Highlighting

code.highlighter-rouge {
    font-size: 14px;
    background-color: #f8f8f8;
}

.highlighter-rouge .highlight {
    width: auto;
    background: #f8f8f8 !important;

    border-left-color: $accentColor;
    border-left-width: 5px;
    border-left-style: solid;

    pre,code {
        background-color: #fff;      
        font-size: 12px;  
    }
    

    td.code {
        width: 100%;
    }

    pre {
        border: 1px solid $lightAccentColor;

        table.rouge-table {
            margin-bottom: 0 !important;

            pre {
                border: 0;
                margin-bottom: 0 !important;
            }

            pre.lineno {
                border: 0px;
                color: $accentColor;
            }

            td.rouge-gutter {
                width: 20px;
            }

            th, td {
                padding: 0;
            }
        }
    }
    
}



