code.language-mermaid {
    display: block;
    width: auto;
    background: white !important;
    border-left-width: 5px;
    border-left-style: solid;
    border-left: 5px solid $lightAccentColor;
    border-right: 1px solid $lightAccentColor;
    border-top: 1px solid $lightAccentColor;
    border-bottom: 1px solid $lightAccentColor;
    border-radius: 5px;
}