blockquote.block-note {
    border-color: $darkAccentColor;
    background-color: $lightAccentColor;
    font-style: inherit;
    padding: 10px;

    h1, h2, h3, h4, h5, h6 {
        color: $darkAccentColor;
    }
    
}

blockquote.block-tip {
    border-color: #42b983;
    background-color: #e2f5ec;
    color: #215d42;
    font-style: inherit;
    padding: 10px;

    h1, h2, h3, h4, h5, h6 {
        color: #359469;
    }
}


blockquote.block-warning {
    border-color:  #e7c000;
    background-color: rgba(255, 229, 100, .25);
    color: #6b5900;
    font-style: inherit;
    padding: 10px;

    h1, h2, h3, h4, h5, h6 {
        color: #b29400;
    }
}

blockquote.block-danger {
    border-color:  #c00;
    background-color: #ffe0e0;
    color: #600;
    font-style: inherit;
    padding: 10px;
    
    h1, h2, h3, h4, h5, h6 {
        color: #c00;
    }
}
