div.jqcloud {
    font-family: inherit;
    margin-top: -60px;
    margin-bottom: -60px;
    margin-left: auto;
    margin-right: auto;

    span.w10 {
        color: #000;
        font-size: 170%;
    }

    span.w9 {
        color: #191919;
        font-size: 160%;
    }

    span.w8 {
        color: #323232;
        font-size: 150%;
    }

    span.w7 {
        color: #4b4b4b;
        font-size: 140%;
    }

    span.w6 {
        color: #646464;
        font-size: 130%;
    }

    span.w5 {
        color: #7d7d7d;
        font-size: 120%;
    }

    span.w4 {
        color: #969696;
        font-size: 110%;
    }

    span.w3 {
        color: #afafaf;
        font-size: 100%;
    }

    span.w2 {
        color: #c8c8c8;
        font-size: 90%;
    }

    span.w1 {
        color: #e1e1e1;
        font-size: 80%;
    }

    a {
        color: inherit;
    }
}