---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Colors 
// https://coolors.co/ac9999-c0b0b0-d3c7c7-faf5f5-f9f7f7-f8f8f8
$lightAccentColor: #faf5f5;
$accentColor: #D3C7C7;
$darkAccentColor: #ac9999;
$codeBackground: #f8f8f8;

@import "highlighter";
@import "notes";
@import "mermaid";
@import "minima";
@import "custom";
@import "wordcloud";
