---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Colors 
// Old colors: https://coolors.co/ac9999-c0b0b0-d3c7c7-faf5f5-f9f7f7-f8f8f8
// https://coolors.co/fca311-b6d9e2-0084d1-1aa89c-33cc66-eb613d-ed6f4f
$lightAccentColor: #faf5f5;
$accentColor: #ED6F4F;
$darkAccentColor: #1AA89C;
$codeBackground: #f8f8f8;

@import "highlighter";
@import "notes";
@import "mermaid";
@import "minima";
@import "custom";
@import "wordcloud";
