---
layout: base
---
{% assign item_name = page.path | split: '/' | last | replace: '.md', '' | sluggify %}

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <span class="authors">
            {%- if page.authors -%}
              <i class="fa-solid fa-user-group"></i> &nbsp; 
              {%- assign author_entries = page.authors -%}
              {%- for entry in author_entries -%}
                {%- if entry.github -%}
                  <a href="https://github.com/{{ entry.github }}">{{ entry.name | default: entry.github }}</a>
                {%- elsif entry.website -%}
                  <a href="{{ entry.website }}">{{ entry.name | default: entry.website | split: '/' | last }}</a>
                {%- else -%}
                  <a href="https://github.com/{{ entry }}">{{ entry }}</a>
                {%- endif -%}
                {%- unless forloop.last -%}, {% endunless %}
              {%- endfor %}
            {%- endif -%}
          </span>
          <span class="github_link"><i class="fab fa-github fa-fw"> </i> <a href="https://github.com/nathan-gs/ha-map-card/tree/main/showcase/{{ item_name }}/"> ha-map-card/{{ item_name }}</a></span>
          <span class="gallery"><i class="fa-solid fa-folder-open"></i> <a href="/ha-map-card">To Gallery</a></span>
        </p>
    </header>

    <div class="post-content">
        {{ content }}              
    </div>
</article>